<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Add New Parcel</title>
</head>
<body>
    <h1>Delete Parcel</h1>
    <form action="/parceldelete" method="POST">
        ID
        <input type="text" name="id"></br>
        <button>Delete Parcel</button>
    </form>
    <a href="/">Back To Home</a>
</body>
</html>