<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>POMS</title>
</head>
<body>
    <img src="mailbox.svg" alt="mailbox">
    <h1>Welcome to Post Office Management System (POMS)</h1>
    <a href="/addparcel">Add New Parcel</a><br>
    <a href="/getparcels">List All Parcels</a><br>
    <a href="/getparcelssender">List All Parcels By Sender</a><br>
    <a href="/getparcelsweight">List All Parcels By Weight</a><br>
    <a href="/updateparcel">Update Parcel</a><br>
    <a href="/deleteparcel">Delete Parcel</a>
</body>
</html>