<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>List All Parcels By Sender</title>
</head>
<body class="container">
    <div class="text-center">
        <h1>Welcome to Post Office Management System (POMS)</h1>
        <a type="button" class="btn btn-primary" href="/">Home</a>
        <a type="button" class="btn btn-primary" href="/addparcel">Add New Parcel</a>
        <a type="button" class="btn btn-primary" href="/getparcels">List All Parcels</a>
        <a type="button" class="btn btn-primary" href="/getparcelssender">List All Parcels By Sender</a>
        <a type="button" class="btn btn-primary" href="/getparcelsweight">List All Parcels By Weight</a>
        <a type="button" class="btn btn-primary" href="/updateparcel">Update Parcel</a>
        <a type="button" class="btn btn-primary" href="/deleteparcel">Delete Parcel</a>
    </div>
    <div class="form">
        <form action="/getparcelsbysender" method="post">
            <div class="form-group">
              <label for="sender">Sender</label>
              <input type="text" class="form-control form-control-lg" id="sender" name="sender" placeholder="Max">
            </div>
            <button type="submit" class="btn btn-primary">List Parcels</button>
        </form>
    </div>     
</body>
</html>